head
  title My Site #{pageTitle}
  meta(charset="utf-8")
  script(src='/javascripts/jquery.js')
  script(src='javascripts/app.js')
  link(type="text/css",rel="stylesheet",href="/test/test.css")
  link(type="text/css",rel="stylesheet",href="http://apps.bdimg.com/libs/animate.css/3.1.0/animate.min.css")