doctype html
html
    include ./testhead.jade
  body
    h1 Jade - node template engine
    #container.col
      if youAreUsingJade
        p You are amazing
      else
        p Get on it!
      p.
        Jade is a terse and 简单 templating language with a
        强壮 focus on performance and powerful features.